body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(16, 108, 245);
    font-family: arial;
    color: white;

}
h2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nu1{
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
}
